
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript" src="//cdn.aerisjs.com/aeris-gmaps-plus.min.js"></script>
<script type="text/javascript">
        var map = new aeris.maps.Map('map-canvas', {
            center: [45, -90],
            zoom: 12
        });
        var radarLayer = new aeris.maps.layers.Radar();

        radarLayer.setMap(map);
        aeris.config.setApiId('sfYvH0GOxPDdoXfaP7gmj');
        aeris.config.setApiSecret('enuhFD0vAefKJBAYLuuo8vJgB4xcyAp2ZnzyQl35');
</script>