
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Basic Options">
    <meta charset="utf-8">
    <title>JS Bin</title>
</head>
<body>
    <div id="map-canvas" style="margin-left:auto; margin-right:auto; width:600px; height:500px">&nbsp;</div>
    <link href="//cdn.aerisjs.com/aeris-interactive/assets/css/default/style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js"></script>
    <script type="text/javascript" src="//cdn.aerisjs.com/aeris-interactive/aim-leaflet.js"></script>
    <script type="text/javascript">
    var aerisMapBuilder = new aeris.interactive.MapAppBuilder({
        apiId: 'sfYvH0GOxPDdoXfaP7gmj ',
        apiSecret: 'enuhFD0vAefKJBAYLuuo8vJgB4xcyAp2ZnzyQl35 ',
        el: '#map-canvas',
      modules: {
        map: {
          zoom: 4,
          center: [44.97, -93.26],
          scrollZoom: true,
        },
        geosearch: {
          geolocate: true
        },
        localWeather: {
          showOnInit: true
        },
        mapControls: {
          expandOnInit: false
        }
      }
    });
    aerisMapBuilder.start();
    </script>
</body>
</html>