@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>

    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
   

    <div id="scheduler_here" class="dhx_cal_container" ...>
        <div class="dhx_cal_navline">
            ...
            <div class="dhx_cal_tab" name="map_tab" style="right:280px;"></div>
        </div>
        
        ...
    </div>
</body>

</html>

