body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dhx_btn_set.location_set
{
   border: 1px solid black;
}
.dhx_btn_set.location_set .location
{
   display:none;
}

.CompletedToDo{
    text-decoration:line-through;
    text-decoration-color:black;
}

tr:nth-child(even) {background: #4e5d6c}
tr:nth-child(odd) {background: }



